/*Beginning of css file*/



h1{
  color:white;
  }
  
  
#name{
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  width: 60%;
  }
  
.header {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-4/htmlcss1-img_coffee-bgnd.jpeg");
    height: 400px;
    background-position: center;
    text-align:center;
    font-family: "Neuton",serif;
}

