/*Beginning of css file*/



h1{
  color:red;
  }
  
  /*
.name{
	  background-position:center;
	  height:400px;
	  center;
  }*/
  
  .header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-4/htmlcss1-img_coffee-bgnd.jpeg");
  height: 400px;
  background-position: center;
  text-align:center;
}
