
/*issues responsiveness on the jumbotron font and text size*/


/*navbar*/



/*jumbotron*/
.jumbotron{
  height: 55em!important;
  background: url("#") center no-repeat;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  margin-bottom: 0em !important;

}

.jumbotron-welcome-msg{
  color: white;
  position: relative;
  top:45%;
}


.down-button{
  text-align: center;
  border-radius: 50%;
}

.descent {
  position: relative;
  top:-4em;
  display:block;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: 1px solid grey;
  background: white;
  margin: 0 auto;
  
}

.descent:hover{
  animation: halo 5s infinite;

}

.fa-chevron-down{
  color: grey;
  padding: 0.9em 0;
  
  
}

@keyframes halo{
  0%{
    border: 2px solid #4285F4;
    color: #4285F4;
  }
  15%{
    border: 2px solid #4285F4;
    color: #4285F4;
  }

  25%{
    border: 2px solid #EA4335;
    color: #EA4335;
  }

  45%{
    border: 2px solid #EA4335;
    color: #EA4335;
  }

  50%{
    border: 2px solid #FBBC05;
    color: #FBBC05;
  }

  70%{
    border: 2px solid #FBBC05;
    color: #FBBC05;
    
    
  }

  75%{
    border: 2px solid #34A853;
  }

  95%{
    border: 2px solid #34A853;
  }

  100%{
    border: 2px solid #EA4335;
  }


}


/*education section*/

.education-header{
  font-size: 2.5em;
}

.education-logo{
  width:10em;
  height: auto;

}