
/*
-issues responsiveness on the jumbotron font and text size
-must make responsive on mobile
add the slant opening
*/

body{ color: #5a5a5a; }


/*Navbar styling section begins here*/
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  position: fixed;
  color: white;
}
.visible-navbar{
  background-color: rgba(0,0,0,0.5) !important;
}

.mdl-layout__drawer { transition-duration: 0.5s !important; }


/*modal*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
} 

/*Jumbotron styling section begins here*/

.jumbotron {
  height: 50em!important;
  margin-bottom: 0em !important;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  background-color: transparent !important;
  /*Photo by Luca Bravo on Unsplash*/
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center/cover no-repeat !important;
  background-size: cover;
}
 
/* .jumbotron::before {
    content: ' ';
    position: fixed;  
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
} */

.jumbotron-welcome-msg {
  position: relative;
  top:45%;
  color: white;
  animation: slide-from-left 2s 1;
}

/*Animation for the greeting on the jumbotron at the beginning.*/
@keyframes slide-from-left {
  from{ left: -100em; }
  to{ left: 0em; }
}


.descent {
  top: 24em;
  position: relative;
  display:block;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: 1.5px solid white;
  margin: 0 auto;
  text-align: center;
  
}

.descent-hover { animation: halo 2s infinite; }

@keyframes halo {

  0% { border-color: #aaa; }
  50% { border-color: #fff; }
  100% { border-color: #aaa; }
}

.fa-chevron-down {
  color: white;
  padding: 0.85em 0;
}
.fa-chevron-down-color { animation: chevron-color 2s infinite }

@keyframes chevron-color {
  0% { color: #aaa; }
  50% { color: #fff; }
  100% { color: #aaa; }
}

/*about*/
.about-container { margin: 5em auto;}
.featurette-divider { margin: 6em 20em; }
.profile-container{
  width: 25em;
  height: 25em;
  margin: 0 auto;
  overflow: hidden;
}


/*education section*/
.education{
  height: 30em;
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("Images/Education.jpg") center/cover no-repeat;
}
.education-title {
  top:50%;
  position: relative;
}

.school-container {
  margin-bottom: 0;
  height: 18em;
}


/*experience section*/
.fa-briefcase { font-size: 3.5em !important; }
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

  .timeline:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 3px;
      background-color: #eeeeee;
      left: 50%;
      margin-left: -1.5px;
  }

  .timeline > li {
      margin-bottom: 20px;
      position: relative;
  }

      .timeline > li:before,
      .timeline > li:after {
          content: " ";
          display: table;
      }

      .timeline > li:after {
          clear: both;
      }

      .timeline > li:before,
      .timeline > li:after {
          content: " ";
          display: table;
      }

      .timeline > li:after {
          clear: both;
      }

      .timeline > li > .timeline-panel {
          width: 46%;
          float: left;
          border: 1px solid #d4d4d4;
          border-radius: 2px;
          padding: 20px;
          position: relative;
          -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      }

          .timeline > li > .timeline-panel:before {
              position: absolute;
              top: 26px;
              right: -15px;
              display: inline-block;
              border-top: 15px solid transparent;
              border-left: 15px solid #ccc;
              border-right: 0 solid #ccc;
              border-bottom: 15px solid transparent;
              content: " ";
          }

          .timeline > li > .timeline-panel:after {
              position: absolute;
              top: 27px;
              right: -14px;
              display: inline-block;
              border-top: 14px solid transparent;
              border-left: 14px solid #fff;
              border-right: 0 solid #fff;
              border-bottom: 14px solid transparent;
              content: " ";
          }

      .timeline > li > .timeline-badge {
          color: #fff;
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 1.4em;
          text-align: center;
          position: absolute;
          top: 16px;
          left: 50%;
          margin-left: -25px;
          background-color: #999999;
          z-index: 100;
          border-top-right-radius: 50%;
          border-top-left-radius: 50%;
          border-bottom-right-radius: 50%;
          border-bottom-left-radius: 50%;
      }

      .timeline > li.timeline-inverted > .timeline-panel {
          float: right;
      }

          .timeline > li.timeline-inverted > .timeline-panel:before {
              border-left-width: 0;
              border-right-width: 15px;
              left: -15px;
              right: auto;
          }

          .timeline > li.timeline-inverted > .timeline-panel:after {
              border-left-width: 0;
              border-right-width: 14px;
              left: -14px;
              right: auto;
          }

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

  .timeline-body > p + p {
      margin-top: 5px;
  }

@media (max-width: 767px) {
  ul.timeline:before {
      left: 40px;
  }

  ul.timeline > li > .timeline-panel {
      width: calc(100% - 90px);
      width: -moz-calc(100% - 90px);
      width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
      left: 15px;
      margin-left: 0;
      top: 16px;
  }

  ul.timeline > li > .timeline-panel {
      float: right;
  }

      ul.timeline > li > .timeline-panel:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
      }

      ul.timeline > li > .timeline-panel:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
      }
}


/*project section*/

.project-card-image.mdl-card {
  width: 256px;
  height: 256px;
  margin: 0 !important;
}
.project-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.project-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

#StarWars { background: url('Images/Star-Wars.jpg') center/cover; }
#LEV3RON{ background: url('Images/LEV3RON.png') center/cover; }

/*footer*/
.footer-links { text-align: center; }


