
/*issues responsiveness on the jumbotron font and text size*/


/*navbar*/

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
  position: fixed;
}


/*jumbotron*/
.jumbotron{
  height: 50em!important;
  background-color: #ddd !important;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  margin-bottom: 0em !important;

}

.jumbotron-welcome-msg{
  display: flex;
  color: white;
  position: relative;
  top:45%;
  animation: slide-from-left 2s 1;
}


@keyframes slide-from-left{
  from{left: -100em;}
  to{left: 0em;}
}



.jumbotron-welcome-msg>h1{
  font-weight: 300;
}

.lead{
  text-align: center;
  background-color: #ddd;
  margin-bottom: 0em !important;
}

.descent {
  top: -1em;
  position: relative;
  display:block;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: 1px solid grey;
  background: white;
  margin: 0 auto;
  
}

.descent:hover{
  animation: halo 5s infinite;

}

.fa-chevron-down{
  color: grey;
  padding: 0.9em 0;
  
  
}

@keyframes halo{
  0%{
    border: 2px solid #4285F4;
    color: #4285F4;
  }
  25%{
    border: 2px solid #EA4335;
    color: #EA4335;
  }
  50%{
    border: 2px solid #FBBC05;
    color: #FBBC05;
  }
  75%{
    border: 2px solid #34A853;
  }
  100%{
    border: 2px solid #EA4335;
  }


}

/*about*/
.card-img-overlay{
  
  top:30%;
}

.about{
  font-size: 3em;
  position: relative;
  top:3.5em;
  color: darkgray;
  animation: slide-up 2s 1;
}

@keyframes slide-up{
  from{top:6em;}
  to{top:3.5em;}
}





/*education section*/

.education-header{
  font-size: 2.5em;
}

.education-block{
  height: 25em;
}

/*doesnt work for mobile fix*/
#university{
  background:url("Images/McGill_martlet.png") no-repeat center;  
  transition: all 1.5s;
  background-size: contain;
}

#university:hover{
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url("Images/McGill_martlet.png") no-repeat;
    background-size: contain;

}

#college{
  background:url("Images/Marianopolis_logo.jpg") no-repeat center;  
  transition: all 1.5s;
  background-size: contain;
}

#college:hover{
      background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url("Images/Marianopolis_logo.jpg") no-repeat;
    background-size: contain;

}



/*experience*/

.experience-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('https://mcgilleus.ca/sites/default/files/portfolio-image/1_Main.png') center/cover;
}
.experience-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.experience-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}




