
/*
-issues responsiveness on the jumbotron font and text size
-must make responsive on mobile
add the slant opening
*/

body{ 
  color: #5a5a5a; 
}


/*Navbar styling section begins here*/
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  position: fixed;
  color: white;
}
.visible-navbar{
  background-color: rgba(0,0,0,0.5) !important;
}

.mdl-layout__drawer { 
  transition-duration: 0.5s !important; 
}


/*modal*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
} 

/*Jumbotron styling section begins here*/

.jumbotron {
  height: 50em!important;
  margin-bottom: 0em !important;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  background-color: transparent !important;

  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("Images/Jumbotron_background.jpg") center/cover no-repeat !important;
  /* background: #ee0979;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    */
}
 
/* .jumbotron::before {
    content: ' ';
    position: fixed;  
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
} */

.jumbotron-welcome-msg {
  position: relative;
  top:45%;
  color: white;
  animation: slide-from-left 2s 1;
}

/*Animation for the greeting on the jumbotron at the beginning.*/
@keyframes slide-from-left {
  from{ left: -100em; }
  to{ left: 0em; }
}


.descent {
  top: 24em;
  position: relative;
  display:block;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  border: 1.5px solid white;
  margin: 0 auto;
  text-align: center;
  
}

.descent-hover { 
  animation: halo 2s infinite; 
}

@keyframes halo {

  0% { border-color: #aaa; }
  50% { border-color: #fff; }
  100% { border-color: #aaa; }
}

.fa-chevron-down {
  color: white;
  padding: 0.85em 0;
}
.fa-chevron-down-color { 
  animation: chevron-color 2s infinite 
}

@keyframes chevron-color {
  0% { color: #aaa; }
  50% { color: #fff; }
  100% { color: #aaa; }
}

.featurette-divider { 
  margin: 6em 20em; 
}

/*about*/
.about-container { 
  height: 60em;
  background-color: #1b1b1b;
}
.about-text-container{
  margin: auto 3em;
  margin-left: 8em
}

.profile-container{
  display: inline-table;
  width: 25em;
  height: 25em;
  margin: auto 0em;
  overflow: hidden;
}


/*education section*/
.education{
  height: 60em;
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("Images/Education.jpg") center/cover no-repeat;
}
.education-title {
  position: relative;
  top:50%;
  display: inline-block;
  font-size: 57px !important;

}

.card-img-overlay {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto 0em;
  padding: 1.25rem;
}

.school-container {
  margin-bottom: 0;
  height: 40em;
}


.university-background{
  background: url("Images/McGill_campus2.jpg") center no-repeat;
}

.university-text-container {
  display: inline-flex;
  height: 100%;
  background-color: rgba(23, 24, 32, 0.95);
}
.university-text {
  margin: auto 0em;
  color: white;
}

.college-background{
  background: url("Images/Marianopolis_campus2.jpg") center/cover no-repeat;
}

.college-text-container {
  display: inline-flex;
  float: right;
  height: 100%;
  background-color: rgba(23, 24, 32, 0.95);
}
.college-text {
  margin: auto 0em;
  color: white;
}


/*experience section*/
.fa-briefcase { 
  margin-right: 0.25em;
  font-size: 3.5em !important; 
}

.experience {
  height: 30em;
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("Images/Education.jpg") center/cover no-repeat;
  text-align: center;
}

.experience-title {
  position: relative;
  top:50%;
  display: block;
  font-size: 57px !important;
}

.experience-vertical-text-align {
  margin: auto 0em;
}

.experience-slot {
  height: 25em;
  margin-left: 40px !important;
  display: flex;
  border-top: solid 7px lightgray;
  border-bottom: solid 7px lightgray;
}
.experience-job-title {
  font-size: 40px;
}

#ericsson {
  background-color: #002561;
}
.ericsson-logo {
  background: url("Images/ericsson.png") center/cover no-repeat;
}
.ericsson-text {
  color: #002561;
}

.eig-logo {
  background: url("Images/eiglogo.png") center/contain no-repeat;
}
.eig-text {
  color: black;
}

.robotics-logo {
  background: url("Images/robotics.png") center/cover no-repeat;
}
.robotics-text {
  color: Red;
}


/*project section*/

/*footer*/
.footer-links { text-align: center; }


