/*Outline all the elements with a border to see the box model*/


*{
    /*border: 1px solid red;*/
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

/*Headline for beginning of website*/
#Greeting{
    box-sizing: border-box;
    color:white;
    font-size: 40px;
    text-align: center;
    top: 100%;
    width: 100%;
    padding:25% 25%;
    background: url("http://hd-wall-papers.com/images/wallpapers/background-image-laptop/background-image-laptop-3.jpg") no-repeat center center;
    background-size:cover;
}



/*Top menu box model configuration*/
div#topmenu{
    box-sizing: border-box;
    margin: 0.5em 0 0.5em 0;
    text-decoration: none;
    top: 280px;
    width:100%;
    text-align:center;
}


/*removes the underline beneath links*/
.option{
    font-size: 20px;
    text-decoration: none;
    color:black;
    padding:0 0.5em;
    margin: auto 0;
}




/*style when mouse hovers over menu*/
a:hover{
    color:black;
    background-color:lightslategrey;
}


/* not sure......
#description-block{
    padding: 3em 3em;
    background-color: #edeeef;
}
*/




/*self description background layout of montreal*/

.description-background{
    box-sizing:border-box;
    background:url("http://upload.wikimedia.org/wikipedia/commons/6/6c/Mount_Royal_Montreal_Lookout.jpg") no-repeat center center;
    background-size: cover;
    position:relative;
    height: 300px;
    width: 100%;
    padding:15% 0;
    margin: 3em 0;

}


/*The quick description text of me*/
.description{
    font-size: 20px;
    text-align: center;
    color:rgb(255,255,255);
    background-color: rgba(0, 0, 0,0.4)
}

/*NEED TO FX margin issues*/



/*goal styling paragraph*/
.goal{
    padding: 1em 1em;
    background-color: #353439;
    box-sizing:border-box;
    margin: 3em 0;
   
}


/*Education panel*/
.education{
    padding: 4em 0em 0em 0em;
}

/*McGill University styling*/
#university{
    box-sizing: border-box;
    padding: 4em 0;
    text-align: center;
    color:white;
    background-color: red;

}

#university img{
    width: 250px;
    height: auto;
}



/*Marionopolis panel description*/
#college img{
    box-sizing: border-box;
    align-content: center;
    width: 220px;
    height: auto;
    margin:1em auto;
    
}

#college p{
    color: black;
    text-align: center;
    padding: auto auto;
    margin: 1em auto;
    width: 400px;
}



/*Have to make the bottom black*/
.bot-block{
    background-color: #353439;
}


/*Bottom menu*/
div #bottom-Menu{
    box-sizing: border-box;
    text-decoration: none;
    text-align:center;
}

/*Bottom icon links*/
.linkIcons img{
    box-sizing: border-box;
    width: 4em;
    height:4em;
    display: block;
    margin: 0 auto;
}