
/*Outline all the elements with a border to see the box model*/


*{
    /*border: 1px solid black;*/
    margin:0;
    padding:0;
}

/*Headline for beginning of website*/
#Greeting{
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 5em;
    position: relative;
    text-align: center;
    top: 50px;
    width: 70%;
    padding:20% 20%;
    
}



/*Menu boc model configuration*/
div#menu{
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 280px;
    width: 70%;

}


.description{
    box-sizing:border-box;
    background-color:#C0C0C0;
    color:white;
    position:relative;
    margin:auto;
    text-align: center;
    font-size: 24px;
    height: 300px;
    width: 100%;
    padding:10% 0;
}

