
/*Outline all the elements with a border to see the box model*/


*{
    border: 1px solid black;
    margin:0;
    padding:0;
}

/*Headline for beginning of website*/
#Greeting{
    box-sizing: border-box;
    color:white;
    margin: auto;
    font-size: 40px;
    font-family: monospace;
    position: relative;
    text-align: center;
    top: 100%;
    width: 100%;
    padding:25% 25%;
    background: url("http://hd-wall-papers.com/images/wallpapers/background-image-laptop/background-image-laptop-3.jpg") no-repeat center center;
    background-size:cover;
}



/*Menu boc model configuration*/
div#menu{
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 280px;
    width: 70%;

}


.description{
    box-sizing:border-box;
    background-color:#C0C0C0;
    color:white;
    position:relative;
    margin:auto;
    text-align: center;
    font-size: 24px;
    height: 300px;
    width: 100%;
    padding:10% 0;
}

